<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>Chart.js </title>      <!-- import plugin script -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body>
<div class="w3-top">
    <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">

        <div class="w3-center w3-padding-16">
            <center><img src="http://ashamafrica.com/images/Sheba-Miles.png" alt="Image result for smiley stickers" width="300" height="50" /></center>

        </div>
    </div>
</div>

<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <!-- Header Add Resource Information Up in Here -->
    <header class="w3-container" style="padding-top:22px">
       <br>
       <br>
    </header>
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter">
            <div class="w3-container w3-orange w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
                <div class="w3-right">

                </div>
                <div class="w3-clear"></div>
                <h3>Total Commission {{total_commission}}</h3>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left"><i class="fa fa-clock-o w3-xxxlarge"></i></div>
                <div class="w3-right" id="before_time">

                </div>
                <div class="w3-clear"></div>
                <h4>Tickets Sold {{total_number_of_tickets}}</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-teal w3-padding-16">
                <div class="w3-left"><i class="fa fa-clock-o w3-xxxlarge"></i></div>
                <div class="w3-right" id="after_time">

                </div>
                <div class="w3-clear"></div>
                <h4>Avg Commission {{average_commission}}</h4>
            </div>
        </div>

    </div>
</div>

</div>
</body>
</html>