{% extends 'index.html' %}

{% block index %}

  <main class='container signup-section'>
  <div class='section-content'>
    <h2>
      Staff Sign up page
    </h2>

  <form method="POST" action='#'>

    <div class='form-group'>
    {{form.username.label}}

    {% if form.username.errors %}
    {% for error in form.username.errors %}
    <p class='error-message'> {{error}} </p>
    {% endfor %}
    {% endif %}

    {{form.username(required = False)}}
  </div>

  <div class='form-group'>
    {{form.password.label}}

    {% if form.password.errors %}
    {% for error in form.password.errors %}
    <p class='error-message'> {{error}} </p>
    {% endfor %}
    {% endif %}

    {{form.password(required = False)}}
  </div>

  <div class='form-group'>
    {{form.first_name.label}}

    {{ form.csrf_token }}

    {% if form.first_name.errors %}
    {% for error in form.first_name.errors %}
    <p class='error-message'> {{error}} </p>
    {% endfor %}
    {% endif %}


    {{form.first_name(required = False)}}
  </div>

  <div class='form-group'>
    {{form.last_name.label}}

    {% if form.last_name.errors %}
    {% for error in form.last_name.errors %}
    <p class='error-message'> {{error}} </p>
    {% endfor %}
    {% endif %}


    {{form.last_name(required = False)}}
  </div>

  <div class='form-group'>
    {{form.date_of_birth.label}}

    {% if form.date_of_birth.errors %}
    {% for error in form.date_of_birth.errors %}
    <p class='error-message'> {{error}} </p>
    {% endfor %}
    {% endif %}

    {{form.date_of_birth(required = False)}}
  </div>

  <div class='form-group'>
    {{form.airline_name.label}}

    {% if form.airline_name.errors %}
    {% for error in form.airline_name.errors %}
    <p class='error-message'> {{error}} </p>
    {% endfor %}
    {% endif %}

    {{form.airline_name(required = False)}}
  </div>


  {{form.submit (class='btn-primary')}}
</form>

{% endblock %}
